.formcontato {
    height: 100%;
    position: absolute;
    width: 90%;
}

.formcontato__contacto {
    align-items: center;
    background-color: rgba(145, 145, 145, 0.283);
    display: flex;
    justify-content: space-around;
}

.formcontato__title {
    color: var(--cor-de-destaque);
    font-size: 2.3rem;
    font-weight: 700;
    margin-bottom: 5%;
    text-align: center;
}

.formcontato--esquerda {
    margin: 5% 0;
    border-right: 2px solid black;
}

.formcontato__img {
    height: 30rem;
    width: 20rem;
}

.formcontato__form {
    display: flex;
    flex-direction: column;
}

.formcontato__input, .formcontato__textarea {
    border: none;
    border-radius: 5px;
    margin: 1% 0;
    padding: 1%;
}

.formcontato__textarea:hover, .formcontato__input:hover {
    border: 1.5px solid var(--cor-de-destaque);
}

.formcontato__botao {
    background-color: white;
    border: none;
    border-radius: 5px;
    color: var(--cor-de-destaque);
    padding: 1%;
}

.formcontato__botao:hover {
    background-color: var(--cor-de-destaque);
    color: white;
}
