.title {
    display: flex;
    height: 100%;
    justify-items: space-around;
    padding-top: 8rem;
    position: relative;
    width: 100%;
  }
  
  .title__div {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    line-height: 5rem;
  }
  
  .title__profile {
    border-radius: 100%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.579);
    cursor: pointer;
    height: 360px;
    width: 360px;
  }
  
  .title__profile:hover {
    opacity: 90%;
    box-shadow: 5px 5px 5px rgba(53, 106, 240, 0.9);
  
  }